@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --white: #fff;
    --grayw: #F2F2F2;
    --gray: #3b3b3b;
    --bluey: #027fe9;
    --blue: #13678A;
    --blueb: #012030;
    --bluea: #319190;
    --bluewater: #45C4B0;
    --greenwater: #9AEBA3;
    --greenw: #DAFDBA;
    --orange: #fc6e3d;
    --orangey: #ff9f15;
    --orangered: #ea2a15; 
    --pinkred: #e7204e;
    --pink: #ef3353;
    --pinkw: #f70a71;
    --pinkww: #ff426a;
    --red: #b11623;
    --yellow: #ffc803;
    --purple: #551bb3;
    --purples: #5015bd;
    --purpleb: #770493;
    --bluebb: #1c31a5;
    --bluep: #212ac5;
    --bluepp: #2c38d8;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
}

/* HMTL CONFIG START */

html {
    width: 100%;
    height: 100vh;
}

html, body {
    scroll-behavior: smooth;

    background-color: var(--blueb);
}

img {
    width: 100px;
}

/* HTML CONFIG ENDING */

/* PAGE STARTING... */

/* HEADER START */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #027de95a;

    backdrop-filter: blur(1rem);

    top: 0;
    position: sticky;

    padding: 0.75em;

    box-shadow: 0 0 15px #00000098;

    z-index: 999;

    padding: min(15vh, 1em);
}

hr {
    padding: 0.07em;
    border: none;
    background-color: var(--white);
    height: 2.5em;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.9em;

    color: var(--white);
}

.text a {
    color: var(--grayw);
    text-decoration: none;
    font-size: 1.2em;

    transition: 00.25s ease;
}

.text a:hover {
    color: var(--bluey);
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    
    gap: 1.5em;
}

.nav a {
    color: var(--grayw);

    font-weight: 500;

    text-decoration: none;

    transition: 00.15s ease;
}

.nav a:hover {
    text-decoration: overline 2px var(--bluey);
}

.buttons-h {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 0.5em;
}

.buttons-h button {
    border: none;
    background-color: var(--bluey);

    color: white;
    font-weight: 500;

    padding: 8px 15px;
    border-radius: 0.3em;

    cursor: pointer;

    transition: 00.55s ease;
}

.buttons-h button:hover {
    background-color: var(--orange);
}

#contact {
    background-color: var(--grayw);
    color: var(--bluey);
}

#contact:hover {
    color: var(--orange);
}

/* HEADER ENDING */


/* MAIN START */

.whatsapp {
    position: relative;
}

.whatsapp img {
    position: fixed;
    
    right: 20px;
    bottom: 20px;

    width: 5rem;
    height: auto;

    transition: 00.60s ease;
}

.whatsapp img:hover {
    transform: scale(1.1);
}

/* SECTIONS START */

.section01 {

    background:  url(images/design.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 10em;

    display: flex;
    align-items: center;
    justify-content: center;
}

.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 19rem;
}

.texts-s1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inputs-s1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 0.8em;
}

/* TEXT-S1 STARTING */

.box-texts {
    background-color: #0189ff73;
    padding: min(15vh, 0.2em);

    backdrop-filter: blur(1.50px);

    width: 450px;
    height: auto;
    
    color: var(--white);
}

.texts-s1 p {
    font-weight: 200;
    text-align: left;
}

.texts-g p {
    font-size: 3.8em;
}

span {
    font-weight: 300;
}


/* TEXT-S1 ENDING */

/* FORM STARTING */

.box-form {
    background-color: var(--grayw);
    width: 380px;
    height: auto;

    padding: 2em;
    
    border-radius: 0.5em;
}

.form-s1 h2 {
    color: var(--blue);
    font-size: 2.5em;
}

.form-s1 p {
    margin-top: 0.8em;
}

.form-s1 input {
    width: 100%;
    padding: 0.8em;
    font-size: 17px;
}

.form-s1 textarea {
    font-size: 17px;
    width: 100%;
}

.button-s1 {
    text-align: center;
}

.button-s1 button {
    background-color: var(--bluey);
    border: none;
    padding: 15px 25px;
    border-radius: 0.3em;

    color: var(--white);
    font-size: 1em;

    margin-top: 2em;

    cursor: pointer;

    transition: 00.50s ease;
}

.button-s1 button:hover {
    background-color: var(--orange);
}

/* FORM ENDING */

/* SECTION-S2 STARTING */

.section02 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: var(--grayw);

    padding: 5em;
    gap: 3em;
}

.flexbox-s2 {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 0.8em;
}

.box-s2 img {
    width: 35em;
}

#titule {
    font-size: 1.6em;
    color: var(--bluebb);
}

#line-s2 {
    border: none;
    background-color: var(--bluepp);

    width: 9em;
    height: 0.4em;
}

/* SECTION-S2 ENDING */

/* SECTION-S3 STARTING */

.section03 {
    display: flex;
    flex-direction: column;

    padding: 5\rem;
    gap: 9em;

    background-color: var(--grayw);
}

.flexbox-s3 {
    display: flex;
    justify-content: center;
    align-items: center;
    
    gap: 2em;
}

.box-s3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 1em;

    width: 300px;
    height: 350px;

    background-color: var(--white);
}

.text-s3 {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

#text-s3  {
    color: var(--black);
    font-size: 3.2em;
    font-weight: 700;

    width: 500px;
}

.text-s3 i {
    color: var(--bluey);
    font-size: 5em;
    text-align: center;

    background-color: var(--white);
    
    margin: 1rem;
}

#titule-s3 {
    color: var(--bluey);
}



/* SECTION-S3 ENDING */

/* SECTION-S4 STARTING */

.section04 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 2.8em;
    padding: 4em;

  background: linear-gradient(-180deg, var(--bluey) 10%, var(--white) 90%);
}

#titule-s4 {
    font-size: 1.6em;
    color: var(--white);
}

.flexbox-s4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    gap: 5em;
}

.box-images img {
    width: 350px;
    height: 250px;

    border: 2px solid #ffffff40;
    border-radius: 1em;

    box-shadow: 1px 15px 15px rgba(0, 128, 255, 0.472);
    
    transition: 00.80s ease;
}

.box-images img:hover {
    transform: scale(1.1);
}
/* SECTION-S4 ENDING */

/* FOOTER STARTING */

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    padding: 2.5em;
    gap: 2.5em;

    background-color: var(--bluey);
}

footer h2 {
    font-size: 2.2em;

    color: var(--white);
}

.flexbox-footer {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 2em;
}

.box-footer {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;

    gap: 0.15em;
    padding: 1em;

    font-size: 1.1em;
    font-weight: 400;

    width: 320px;
    height: auto;

    background-color: #0068c3;
    color: var(--white);
}

.box-footer i {
    font-size: 1.2em;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 0.25em;
}

